# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env

# Frontend / Node (if any in root)
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
